iniconfig==2.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.2
pathspec==0.12.1
pluggy==1.5.0
Pygments==2.18.0
pytest==8.3.3
python-dateutil==2.9.0.post0
rich==13.9.4
rich-argparse==1.6.0
six==1.17.0
