footer { display: none }

header > a.btn { display: none }
header > h2.project-tagline { margin-block-start: 0.1em; margin-block-end: 0; }
header.page-header {
    padding: 1em 2em;
    background-image: url(/assets/intent-logo-transparent-128.png), linear-gradient(
120deg, #155799, #159957);
    background-repeat: no-repeat;
    background-position: left center;
}
